.container{
    display: flex;
    min-width: 100vw;
    height: 100vh;
    padding: 0;
    position: fixed;
}

section.vertical{
    border-right: 1px solid rgb(235, 230, 230);
    width: 10%;
}
li{
    list-style-type: none;
}

li:nth-child(1):before {
    content: "\25EF";
    margin-right: 0.4em;
    font-size: 11px;
    font-weight: 900;
    color: #150a93;;
    filter: blur(1px);
}
li:nth-child(1):before {
    content: "\25EF";
    margin-right: 0.4em;
    font-size: 11px;
    font-weight: 900;
    color: #150a93;;
    filter: blur(1px);
}
li:nth-child(2):before {
    content: "\25EF";
    margin-right: 0.4em;
    font-size: 11px;
    font-weight: 900;
    color: #f0de0a;
    filter: blur(1px);
}
li:nth-child(3):before {
    content: "\25EF";
    margin-right: 0.4em;
    font-size: 11px;
    font-weight: 900;
    color: #1098e0;
    filter: blur(1px);
}
li:nth-child(4):before {
    content: "\25EF";
    margin-right: 0.4em;
    font-size: 11px;
    font-weight: 900;
    color: #09ea2b;
    filter: blur(1px);
}
li:nth-child(5):before {
    content: "\25EF";
    margin-right: 0.4em;
    font-size: 11px;
    font-weight: 900;
    color: #e90a3f;
    filter: blur(1px);
}



.list{
    position: relative;
    margin: 1.5rem 0;
    font-size: 14px;
}

.list::after{
    content: "";
    position: absolute;
    top: 35px;
    height: 1px;
    left: -21px;
    width: 130px;
    background-color: rgb(235, 230, 230);
    
}

.last{
    position: absolute;
    top: calc(100% - 2rem);
    left: 1rem;
    color: white;
}

.vh{
    background-color: rgb(134, 112, 235);
    color: white;
    font-size: 18px;
    padding: 1rem 2rem;
}

/* ---------------------------------------------------------------------------------------------------------- */

section.horizontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.8%;
    width: 91%;
    border-bottom: 1px solid rgb(235, 230, 230);
}

.hh{
    font-size: 20px;
    margin-left: 2rem;
    color: rgb(134, 112, 235);
    margin-top: 7px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.post{
    padding: 0.5rem 1rem;
    background-color: rgb(134, 112, 235);
    outline: none;
    border:none;
    color: white;
    border-radius: 50px;
}



@media (max-width:1615px) and (min-width :1400px) {
    .list::after{
        content: "";

        width: 110px;
        
        
    }
}
@media (max-width : 1400px) {
    .list::after{
        content: "";
        width: 100px;
    }
    section.vertical {
        
        width: 12%;
    }
}